#submitLocalisation {
    display: none;
}

body {
    background: linear-gradient(115deg, #1f73b4, #57c5cd);
}

.sec1,
.sec2 {
    padding: 40px;
}

.sec1 h1 {
    text-align: center;
    color: #fff;
}

#map {
    box-shadow: 5px 5px 25px black;
    margin: 100px auto;
}

.myForm,
form {
    width: 50%;
    height: auto;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.myForm>#search {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.sec1 label {
    color: #fff;
}

#buttonHidden,
#submitLocalisation,
#selectVal {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: auto;
}

#selectVal option {
    background-color: #1f73b4;
    color: #fff;
    padding: 3px;
}


/*----sec2-----*/

.sec2 h1 {
    text-align: center;
    color: #fff;
}

.feed{
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.fixe{
    margin-right: 15px;
}
.annonces{
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 20px;
    padding: 0 16px 16px 16px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    width: 95%;
}
/* responsif */
/* .annonces{
    display: inline-block;

    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 20px 50px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
} */