#submitLocalisation {
    display: none;
}

body {
    background: linear-gradient(115deg, #1f73b4, #57c5cd);
}

.sec1,
.sec2 {
    padding: 40px;
}

.sec1 h1 {
    text-align: center;
    color: #fff;
}

#map {
    box-shadow: 5px 5px 25px black;
    margin: 100px auto;
    border-radius: 10px;
}

.myForm,
form {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.myForm>#search {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.sec1 label {
    color: #fff;
}

#buttonHidden,
#selectVal {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: auto;
    margin-left: 25px;
}

#selectVal option {
    background-color: #1f73b4;
    color: #fff;
    padding: 3px;
}


/*----sec2-----*/

.sec2 h1 {
    text-align: center;
    color: #fff;
}

.feed {
    background-color: #f8f7f7;
    width: 80%;
    height: 600px;
    overflow: auto;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 5px 5px 25px black;
    color: #6a6a6a;
}

.feed::-webkit-scrollbar {
    width: 12px;
}

.feed::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #57c5cd;
}

.feed::-webkit-scrollbar-thumb {
    background-color: #1f73b4;
    border-radius: 20px;
    ;
}

.dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 20px auto;
}

.dates label {
    color: #fff;
}

.dates #dateDebut,
.dates #dateFin {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: auto;
    margin: 10px;
}

.fixe {
    margin-right: 15px;
}

.annonces {
    background-color: #fff;
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 20px;
    padding: 0 16px 16px 16px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    width: 95%;
}

.annonces .id {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #57c5cd;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

.annonces .nom img {
    background-color: black;
    border-radius: 50%;
}

.annonces img {
    width: 45px;
    margin: 3px;
}

.annonces .column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 70%;
    margin: 0 auto;
}

.annonces .column div {
    width: 40%;
}

.annonces>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.annonces div>a,
.payement {
    background-color: #57c5cd;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 200px;
}


/*----------------------------single user--------------------------------*/

.single {
    background-color: #f8f7f7;
    width: 80%;
    height: auto;
    overflow: auto;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 5px 5px 25px black;
    color: #6a6a6a;
    display: flex;
    flex-direction: column;
}

.payement {
    background-color: #57c5cd;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin: 10px auto;
}

.payement:hover {
    background-color: #1f73b4;
}

.payement a {
    color: #fff;
    text-decoration: none;
}

.description {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.single>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.single img {
    width: 150px;
}

.single>div:first-child img {
    width: 150px;
    background-color: black;
    border-radius: 50%;
}

.row-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.row-contents>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.retour {
    transition-duration: 500ms;
    display: flex;
    color: white;
    text-decoration: none;
    width: fit-content;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
}

.retour:hover {
    background-color: #134870;
    transition-duration: 500ms;
    transform: scale(1.1);
}