* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sec1 {
    width: 90%;
    height: auto;
    background: linear-gradient(115deg, #047206, #7bd97d);
    margin: 50px auto;
    box-shadow: 5px 5px 15px black;
}

.sec1 img {
    width: 150px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
}

.sec1 h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.sec1 form {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.sec1 form label {
    color: #fff;
}

.sec1 form div {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.sec1 form div input,
.sec1 form div textarea {
    width: 80%;
    padding: 10px;
}

.submit-button button {
    width: 150px;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    background-color: gold;
    border: none;
    border-radius: 5px;
}

.submit-button button:hover {
    background-color: goldenrod;
}

#bodyCard {
    height: 390px !important;
    display: flex;
}

#calendarCard {
    width: 50%;
}

.otherCards {
    width: 33.33% !important;
}

.containerProfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc .fc-toolbar {
    display: inline!important;
    /* justify-content: space-between; */
}

#top {
    display: none;
}


/*------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#top,
#calendar.fc-theme-standard {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#calendar.fc-theme-bootstrap {
    font-size: 14px;
}

#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
}

#top .selector {
    display: inline-block;
    margin-right: 10px;
}

#top select {
    font: inherit;
    /* mock what Boostrap does, don't compete  */
}

#calendar {
    width: 90% !important;
    height: 90%;
    margin: 0px auto;
    padding: 50px;
}

.calener-card {
    width: 1200px !important;
    height: fit-content;
    text-align: center;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 15px grey;
}