@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700");
html {
    min-height: 100%;
}

body{
  background: linear-gradient(115deg, #047206, #7bd97d);
}

#nom {
    text-transform: uppercase;
}
input{
    color: white;
}
.btn{
  background-color: rgb(4, 114, 6, .5);
}
.btn:hover{
  background-color: rgb(4, 114, 6, .5);
}

.btn:hover {
    background-color: #047206;
}

header {
    padding: 7em 5em 4em 5em;
}

h1 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

#blanc {
    max-width: 50%;
    min-width: 50%;
}