@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700");


html{
  min-height: 100%;
}

body{
 background: linear-gradient(115deg, #1f73b4, #57c5cd);
}

#nom{
  text-transform: uppercase;
}

.btn{
  background-color: #14b0f3;
}
.btn:hover{
  background-color: #0093d2;
}

header{
  padding: 7em 5em 4em 5em;
}

h1{
  font-family: 'Source Sans Pro', Arial, sans-serif;

}
#blanc{
  max-width: 50%;
  min-width: 50%;
}
